@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.hometitle {
  font-family: fantasy;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #c4adc9;
  padding: 20px;
  width: 450px;
  height: 50px;
}
.DogPageHeader {
  font-family: fantasy;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  border: 5px solid #c4adc9;
  padding: 20px;
  width: 450px;
  height: 50px;
}
.pageTitle {
  position: absolute;
  padding-top: 250px;
  padding-left: 950px;
}

.dogcontainer {
  background-color: rgba(246, 208, 18, 0.945);
  text-align: center;
}
.card {
  color: black;
  font-family: "Georgia";
  border: 10px solid #83cbef;
  text-align: center;
}
@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.cardPic {
  width: 100%;
}
.primary {
  background-color: aliceblue;
  border-radius: 10px;
}

.card button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.traitList {
  align-items: center;
  background-color: aliceblue;
  margin-left: 20px;
  margin-right: 20px;
}
/* .cardPic {
  width: 500px;
  height: 500px; 
  background-size: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 10px;
  border: 10px solid #83CBEF;
  
 
} */

.searchTerm {
  width: 50%;
  border: 3px solid #00b4cc;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.appCard {
  display: inline-block;
  padding: 20px;
  border: 5px solid black;
  margin: 30px;
  text-align: center;
}

.appCard:hover {
  background-color: grey;
}

.appImage {
  width: 160px;
  border: 2px solid black;
}

.pendingApp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  padding-left: 20%;
  padding-right: 5%;
}

#pendingAppHeader {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 36px;
}
