.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
.pageTitle{
  position:absolute;
  padding-top: 250px;
  padding-left: 950px;

}
.dogcontainer{
  background-color: rgba(246, 208, 18, 0.945);
  text-align: center;
}
.card {
  
  color: black;
  font-family: "Georgia";
  text-align: center;
  
}

.cardPic {
  width: 500px;
  height: 500px; 
  background-size: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 10px;
  border: 5px solid rgb(44, 236, 247);
  
 
}





