:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  padding-bottom: 15px;
}
.hometitle {
  /* font-family: fantasy; */
  font-family: "Kaushan Script", cursive;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  border: 2px solid #c4adc9;
  padding: 20px;
  width: 450px;
  height: 50px;
  font-size: 40px;
}
.DogPageHeader {
  font-family: "Kaushan Script", cursive;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  border: 5px solid #c4adc9;
  padding: 20px;
  width: 450px;
  height: 50px;
}
.pageTitle {
  position: absolute;
  padding-top: 250px;
  padding-left: 950px;
}
.dogcontainer {
  background-color: #ffde59;
  text-align: center;
  border-radius: 15px;
}
.card {
  color: black;
  font-family: "Georgia";
  border: 10px solid #83cbef;
  text-align: center;
}
@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: calc(33% - 2rem);
  }
}
@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}
@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
.cards {
  list-style: none;
}
.card {
  margin: 1rem;
}
.cardPic {
  width: 100%;
  border: 2px solid #83cbef;
}
.primary {
  background-color: aliceblue;
  border-radius: 10px;
}
.card button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.traitList {
  align-items: center;
  background-color: aliceblue;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
/* .cardPic {
  width: 500px;
  height: 500px;
  background-size: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 10px;
  border: 10px solid #83CBEF;
} */
.searchTerm {
  width: 50%;
  border: 3px solid #00b4cc;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9dbfaf;
}
.searchTerm:focus {
  color: #00b4cc;
}

/* .appCard {
  display: inline-block;
  padding: 20px;
  border: 5px solid black;
  margin: 30px;
  text-align: center;
  background-color: #9dbfaf;
} */

.appCard {
  list-style: none;
  /* margin-right: 1800px; */
  text-align: left;
  width: 200px;
}

.appCard:hover {
  background-color: grey;
}

.appImage {
  width: 160px;
  border: 2px solid black;
}

.pendingApp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  /* background-color: #83cbef; */
  border-radius: 15px;
  height: 950px;
}

.ProfileCard {
  margin-left: 100px;
  display: flow-root;
  padding: 20px;
  border: 3px solid black;
  text-align: left;
  background-color: #83cbef;
  width: auto;
}

#pendingAppHeader {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 36px;
  background-color: #b8e986;
  border-radius: 5px;
  padding: 15px;
  border: 1px dotted #000;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.navbar {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
}

.logoBackground {
  /* background-image: url(../src/images/HappyTails.png); */
  display: block;
  text-align: center;
  width: 100%;
  height: 275px;
  top: 15px;
  left: 20px;
  margin: 0px 50px 0px 50px;
}
#relative {
  position: relative;
  height: 80px;
  background-color: #cfc;
  border-color: #696;
  opacity: 0.7;
}
.homeText {
  text-align: center;
  padding: 40px;
  font-family: "Kaushan Script", cursive;
  font-size: 40px;
}
/* HOME PAGE DESIGN */
.custom-shape-divider-bottom-1654126488 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1654126488 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 308px;
}

.custom-shape-divider-bottom-1654126488 .shape-fill {
  fill: #71c023e0;
}
/* APPLICATION PAGE DESIGN */
.custom-shape-divider-top-1654128639 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1654128639 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}

.custom-shape-divider-top-1654128639 .shape-fill {
  fill: #b8e986;
}
.nameText {
  text-align: center;
  /* padding: px; */
  font-family: "Kaushan Script", cursive;
  font-size: 60px;
}

.home-button-container {
  justify-content: center;
  width: 550px;
  /* margin-left: 300px;
  margin-right: 300px; */
  margin: auto;
}

.homePage {
  justify-content: center;
  margin: auto;
}

.rowC {
  display: flex;
  flex-direction: row;
}

.appList {
  justify-content: right;
  padding-left: 20%;
}

.new-dog-form {
  display: flex;
  flex-direction: column;
}

/* create the paw prints */
.pad {
  width: 25px;
  height: 27px;
  background-color: #654321;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  display: block;
  position: absolute;
}
.large {
  width: 70px;
  height: 80px;
  transform: rotate(80deg);
  left: 100px;
  top: 50px;
}
.small-1 {
  transform: rotate(50deg);
  left: 145px;
  top: 28px;
}
.small-2 {
  transform: rotate(65deg);
  left: 174px;
  top: 50px;
}
.small-3 {
  transform: rotate(98deg);
  position: absolute;
  left: 178px;
  top: 87px;
}
.small-4 {
  transform: rotate(140deg);
  position: absolute;
  left: 158px;
  top: 117px;
}

/* position and animate */

.paw-print-1 {
  opacity: 0;
  position: absolute;
  left: 75px;
  top: 300px;
  transform: rotate(-40deg);
  -webkit-animation: walk 3s linear infinite;
  animation: /*keyframe*/ walk /*duration*/ 3s /*transition*/ linear /*repeat*/
    infinite;
}
.paw-print-2 {
  opacity: 0;
  position: absolute;
  left: 275px;
  top: 280px;
  transform: rotate(-5deg);
  -webkit-animation: walk 3s linear infinite 0.25s;
  animation: walk 3s linear infinite /*delay*/ 0.25s;
}
.paw-print-3 {
  opacity: 0;
  position: absolute;
  left: 375px;
  top: 130px;
  transform: rotate(-10deg);
  -webkit-animation: walk 3s linear infinite 0.5s;
  animation: walk 3s linear infinite 0.5s;
}
.paw-print-4 {
  opacity: 0;
  position: absolute;
  left: 575px;
  top: 280px;
  transform: rotate(-20deg);
  -webkit-animation: walk 3s linear infinite 0.75s;
  animation: walk 3s linear infinite 0.75s;
}
.paw-print-5 {
  opacity: 0;
  position: absolute;
  left: 725px;
  top: 50px;
  transform: rotate(10deg);
  -webkit-animation: walk 3s linear infinite 1s;
  animation: walk 3s linear infinite 1s;
}
.paw-print-6 {
  opacity: 0;
  position: absolute;
  left: 875px;
  top: 200px;
  transform: rotate(10deg);
  -webkit-animation: walk 3s linear infinite 1.25s;
  animation: walk 3s linear infinite 1.25s;
}
.paw-print-7 {
  opacity: 0;
  position: absolute;
  left: 1075px;
  top: 50px;
  transform: rotate(20deg);
  -webkit-animation: walk 3s linear infinite 1.5s;
  animation: walk 3s linear infinite 1.5s;
}
.paw-print-8 {
  opacity: 0;
  position: absolute;
  left: 1150px;
  top: 250px;
  transform: rotate(10deg);
  -webkit-animation: walk 3s linear infinite 1.75s;
  animation: walk 3s linear infinite 1.75s;
}

/* walking effect animation keyframes */

@-webkit-keyframes walk {
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes walk {
  /* appear */
  25% {
    opacity: 1;
  }
  /* disappear */
  100% {
    opacity: 0;
  }
}
